:root {
    --color1:#fff;
    --color2:#fff;
    --color3:#fff;
    --color4:#fff;
}

body {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: aqua ;
    font-size: 6vh;
}